<h1>
  6. pluck operator @deprecated => use optional chaining map(x =>
  x?.foo?.bar?.baz)
</h1>
<p>
  Pluck operator is used to pluck a property or value and then return in
  subscription. pluck is useful when you don't want unnecessary in the stream
  and you can pluck them in the on going execution. pluck will return undefined
  if it does not find the given property of value in it. We can pluck multiple
  property like if we use an observable of array type then we can select
  multiple properties to be plucked.
</p>
