<h1>8. Merge Map</h1>
<p>
  Merge map operator is often get used when the requirement is to merge response
  from two observables.
</p>
<p>
  This rxjs operator return an observable after merging the response from two
  observables, things to notice here is that second observable does not execute
  until merged observable emits some response.
</p>
<p>
  This is very popular operator of rxjs we usually get to merge two responses of
  observable type while working with web pages in Angular or JavaScript.
</p>
