<h1>7. Pipe operator</h1>
<p>
  pipe operator in rxjs is an operator that allows you to combine multiple
  operators into a single operator. This can be useful if you want to apply
  multiple operators to an observable stream. The pipe operator takes one or
  more operators as arguments and returns an operator that combines the
  operators. this is useful for creating complex Observables from simple ones.
  For example, you can use the pipe operator to map an Observable of numbers to
  an Observable of strings.
</p>
