<h1>2. debounceTime Operator + ViewChield</h1>
<p>
  While working on web page we often have such scenarios where we have to
  control user input or typing. there we get debounceTime() on the track. with
  the help of debounceTime() we can create delay for given time span and without
  another source emission. The best part of debounceTime() is that within the
  given time span if a new value arrives then the previous pending value gets
  dropped so we only get the latest value emitted by the source observable.
</p>

<input type="text" #searchInput />
