<h1>3. distinctUnitChanged Operator</h1>
<p>
  In such scenario where we get input from user and want to avoid unnecessary
  API hits e.g. Search box. Where we only want distinct values based on last
  emitted value to hit the API. then distinctUntilChanged operator comes in the
  game and handle such scenarios so that application can avoid unnecessary API
  hit. With this operator we can use debounceTime() to give it some time to get
  the distinct value for search bar kind's of functionalities. debounceTime()
  and distinctUnitChanged() makes search bar more productive. These both
  operators return an observable.
</p>
